
/*product page*/
.product-card {
  padding: 26px 31px 135px 31px;
}

.product-name {
  color: #3a3a3a;
  font-size: 64px;
  margin: 0;
  line-height: 1;
}

.content-block .product-card-active a {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
  color: #ffffff;
}

.product-colors button {
  background-color: transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 13px;
  border: none;
  cursor: pointer;
  outline: none;
}

.product-price {
  font-size: 80px;
  color: #e2e2e2;
  margin: 0;
  padding-top: 22px;
}

.save-product {
  padding: 25px 14px;
  background-color: #e3e3e3;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  z-index: 1;
  position: relative;
  font-weight: bold;
}

.sale-product {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
  margin-left: 17px;
}

.header-of-product-card * {
  z-index: 1;
}

.product-img-active {
  z-index: 0;
  margin-top: -200px;
  height: 525px;
}

.product-images-list button {
  width: 16%;
  border: solid 5px transparent;
  cursor: pointer;
  outline: none;
}

.product-images-list button img {
  height: 140px;
  cursor: pointer;
  width: 100%;
}

.product-images-list .product-list-img:hover, .product-images-list .product-card-img-active {
  border: solid 5px #e8e8ea;
}

.product-images-list > * {
  margin-right: 15px;
  padding: 0;
}

.product-images-list > *:last-child {
  margin-right: 0;
}

.product-show-more-button {
  flex: 0 1 55px;
  width: 64px;
  text-align: left;
  font-size: 14px;
  color: #c0c0c0;
  font-family: avenir-next-reg;
  border: none;
  cursor: pointer;
  outline: none;
}

.grey-lines {
  width: 160px;
}

.grey-lines span {
  background-color: #e7e7e7;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  display: block;
  margin-bottom: 3px;
}

.brand-description {
  font-size: 33px;
  line-height: 1.52;
  color: #d8d8d8;
  font-family: avenir-next-reg;
}

.brand-description span {
  color: #6e6e6e;
}

.buy-now-product {
  background-image: linear-gradient(to right, #4949aa, #27275d);
  position: fixed;
  bottom: 0;
  width: calc(100% - 414px);
  padding: 35px 0;
  z-index: 2;
  font-size: 32px;
  color: #ffffff;
  font-family: avenir-next-bold;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
}

.buy-now-product:hover {
  background-image: linear-gradient(to right, #27275d, #4949aa);
}
